@{
    ViewBag.Title = "Home Page";
}

<form class="d-flex" asp-action="Index" asp-controller="HomeController">
    <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@ViewData["CurrentFilter"]">
    <button class="btn btn-dark" type="submit">Search Posts</button>
</form>


@{
    if (Model != null)
    {
        foreach (var post in Model)
        {
            <div class="border-1">
                 <h2>@post.PostTitle</h2>
            <p>@post.PostBody</p>
            <p>Asked By - @post.DisplayName (Reputation - @post.Reputation )</p>
            <p>Total Votes - @post.TotalVotes</p>
            </div>





            <br />
        }

    }
}
